<app-dashboard></app-dashboard>

<div class="transaction-history" *ngIf="dataLoaded; else loading">
  <h2>Transaction History for {{ loggedInUserName }}</h2>
  <table mat-table [dataSource]="paginatedTransactions" class="mat-elevation-z8">
    <ng-container matColumnDef="transactionId">
      <th mat-header-cell *matHeaderCellDef> Transaction ID </th>
      <td mat-cell *matCellDef="let transaction"> {{ transaction.transactionId }} </td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> Date </th>
      <td mat-cell *matCellDef="let transaction"> {{ transaction.date }} </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let transaction"> {{ transaction.description }} </td>
    </ng-container>

    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef> Amount </th>
      <td mat-cell *matCellDef="let transaction" [ngClass]="{'credit': transaction.amount > 0, 'debit': transaction.amount < 0}"> 
        {{ transaction.amount }} 
      </td>
    </ng-container>

    <ng-container matColumnDef="balance">
      <th mat-header-cell *matHeaderCellDef> Balance </th>
      <td mat-cell *matCellDef="let transaction"> {{ transaction.balance }} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [length]="transactions.length" [pageSize]="pageSize" (page)="onPageChange($event)">
  </mat-paginator>
</div>
<ng-template #loading>
  <p>Loading...</p>
</ng-template>
