.debit-container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #58a7e06b;
  margin-top: 90px;
}

.debit-container h2 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
  color: #3f51b5; /* Adjusted color for a different visual emphasis */
}

mat-form-field {
  display: block;
  margin-bottom: 20px;
  width: 100%;
}

mat-form-field mat-label {
  color: #555;
}

mat-form-field input {
  font-size: 16px;
}

button {
  display: block;
  width: 100%;
  font-size: 16px;
  background-color: #f44336; /* Red for Debit to signify reduction */
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 4px;
}

button:hover {
  background-color: #d32f2f; /* Darker red on hover */
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
